<div class="section-row">
    <div class="post-author">
        <div class="media">
            <div class="media-left author">
                <img class="circle" src="/assets/images/EhsanAsaDev.jpeg" alt="EhsanAsaDev"/>
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <h3>Ehsan</h3>
                </div>
                <p>For more than a decade, I've been working as software developer. I want to write here as a developer
                    about my passions, experiences, challenges and everything related to my life.</p>
                <ul class="footer-social">
                    <li><a target="_blank" title="Follow me on LinkedIn"
                           href="https://www.linkedin.com/in/ehsan-shakeri/" class="follow-linkedin"><i
                            class="fab fa-linkedin-in"></i></a></li>
                    <li><a target="_blank" title="Follow me on Twitter" href="https://twitter.com/EhsanAsaDev"
                           class="follow-twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a target="_blank" title="Follow me on GitHub" href="https://github.com/EhsanAsaDev/"
                           class="follow-github"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



